* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;

    background-image: linear-gradient(
        120deg,
        #030303,
        #0c59ff
    );
}

h1 {
    font-size: clamp(35px, 5vw, 45px);
}